In [36]:
import mysql.connector

In [37]:
mydb = mysql.connector.connect(
  host="ai",
  user="db_user",
  passwd="db_password",
  database="dataiku"
)

In [38]:
mycursor = mydb.cursor()

In [39]:
query = """
select pos, count(pos) cnt -- , designated_starter, gs, gp,season_team, player_id, player, start_pos, start_pos_0, start_pos_1, start_pos_2, start_pos_3, start_pos_4 
from NFL_rosters_15_18_tbl
where start_pos is null
and pos like '%/%'
group by pos
order by cnt desc
"""

In [40]:
mycursor.execute(query)

In [41]:
myresult = mycursor.fetchall()

In [42]:
row = None
for x in myresult:
    print(x)
    row = x

('DE/DT', 10)
('DT/DE', 7)
('C/G', 6)
('DE/LB', 6)
('LB/DE', 6)
('S/CB', 5)
('CB/S', 4)
('G/C', 4)
('G/T', 4)
('WR/QB', 3)
('DT/NT', 2)
('NT/DE', 2)
('S/LB', 2)
('RB/FB', 2)
('DE/TE', 1)
('WR/TE', 1)
('LB/DT', 1)
('DE/NT', 1)
('NT/DT', 1)
('WR/S', 1)
('WR/CB', 1)
('T/G', 1)
('LB/RB', 1)
('FB/LB', 1)
('CB/WR', 1)
('TE/DT', 1)

# pos = DE/DT

header = 'pos, designated_starter, gs, gp,season_team, player_id, player, start_pos, start_pos_0, start_pos_1, start_pos_2, start_pos_3, start_pos_4 '
query = """
select pos, designated_starter, gs, gp,season_team, player_id, player, start_pos, start_pos_0, start_pos_1, start_pos_2, start_pos_3, start_pos_4 
from NFL_rosters_15_18_tbl
where start_pos is null
and pos = 'DE/DT'
"""

print(header)
mycursor.execute(query)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

In [ ]:
RED BRYANT = DT
BRENT URBAN = DE
ABRY JONES = DT
DARIUS PHILON =

In [33]:
query = """ list tables"""
mycursor.execute(query)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'list tables' at line 1

In [50]:
query = """
select * from NFL_salary where playerId = '17981'
-- describe NFL_salary
"""
mycursor.execute(query)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)